* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Arvo',serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  background: #111111;
  color: #fff;
}
.heading {
  padding-bottom: 50px;
  font-size: 2rem;
}
#output {
  width: 500px;
  padding: 50px 30px;
  display: flex;
  background: #fff;
  border-radius: 8px;
  font-size: 2.2rem;
  text-align: center;
  color: #000;

}