* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arvo', serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
  color: #fff;

}
.container {
  width: 35vw;
  padding: 3em 3em;
  background: #fff;
  border-radius: 8px;
  color: #000;
}
.heading {
  padding-bottom: 50px;
  font-size: 2rem;
  text-align: center;

}
.input-wrapper {
  display: flex;
 justify-content: space-around;
}
 label {
  display: block;
  font-weight: 600;

 }
 input {
  margin-top: .6em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 12px;
  outline: none;

 }
 button {
  display: block;
  padding: 20px 30px;
  background: #000;
  color: #fff;
  margin: 2em auto;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
 }
 button:active {
  background: #2b2bbb;
 }
 #output {
  padding: 1em;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
  
 }