* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Arvo',serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
  color: #fff;
}
.tag-input {
position: absolute;
width: 500px;
padding: 20px;
background: #fff;
border-radius: 8px;
color: #000;
}
.tag-input .heading {
  padding-bottom: 20px;
  font-size: 1.5rem;

}
.tag-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;


}
.tag-input .tag-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.tag-input .item {
  padding: 5px 8px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  user-select: none;


}
.tag-input .delete-btn {
  cursor: pointer;
}