* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: 'Arvo',serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
  color: #fff;
}
.heading{
 
  font-size: 2rem;

}
