* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arvo', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
  color: #fff;
}
.heading {
  padding-bottom: 50px;
  font-size: 2rem;
  text-align: center;

}
.wrapper {
  width: 90vmin;
}
.container {
  padding: 50px 30px 30px 30px;
  background: #fff;
  border-radius: 8px;
}
textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  line-height: 23px;
  color: #000;
}
.count {
  position: relative;
  width: 80%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 8px;
}