* {
margin: 0;
padding: 0;
box-sizing: border-box;

}
body {
  font-family: 'Arvo', serif;
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
   background: #111111;
   color: #fff;

}
.heading {
  padding-bottom: 50px;
  font-size: 2rem;

}
#result {
  width: 600px;
  padding: 80px 40px;
  background: #fff;
  border-radius: 8px;
  font-size: 3.6vmin;
  font-weight: 600;
  text-align: center;
  color: #000;
}
#result h2 {
  padding: 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ff0000;
}