* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Arvo',serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
  color: #fff;

}
.heading {
  padding-bottom: 20px;
  font-size: 2rem;


}
.progress {
  position: relative;
  width: 400px;
  height: 20px;
  background: #c5c1c1;
  border-radius: 10px;

}
.progress-done {
  height: 100%;
  background: #2d2daf;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: width 0.3s linear;
  opacity: 0;
}